@{
    ViewData["Title"] = "Laba";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">Лабораторная работа</a>
</div>
